*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*================================================= THUMBNAIL BAR ================================================== */
div.view-thumbnailbar{
  position: absolute;
  margin: 0;
  overflow: auto;
}
/*vertical thumbnail bar*/
div.view-thumbnailbar-y{
  width: 115px;
}
/*horizontal thumbnail bar*/
div.view-thumbnailbar-x{
  height: 130px;
  white-space: nowrap;
}
/*grid thumbnail bar*/
/*div.view-thumbnailbar-g{
  height: 130px;
}*/


/*thumbnail image frames (divs) within the thumbnail bar*/
.view-thumbnail{
  border-style: solid;
  border-width: 1px;
  width: 98px;
  margin-bottom: 2px;
  display: inline-block;
}
/*vertical thumbnail*/
.view-thumbnail-y{
  margin: 0 0 2px 0;
}
/*horizontal thumbnail*/
.view-thumbnail-x{
  margin: 0 2px 0 0;
}
.view-thumbnail:hover{
  border: 1px solid #D9E2D4;
}

/*image within a thumbnail frame*/
.view-thumbnail-img{
  display: block;
  height: 96px;
  width: 96px;
}

/*text info within a thumbnail frame*/
.view-thumbnail-info{
  font-size: 11px;
  text-align:center;
  background-color: black;
  color: #DDE8BB;
}
