*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*================================================= THUMBNAIL BAR ================================================== */
div.view-thumbnailsbar{
  position: absolute;
  margin: 0;
}
/*vertical thumbnail bar*/
div.view-thumbnailsbar-y{
  width: 115px;
}
/*horizontal thumbnail bar*/
div.view-thumbnailsbar-x{
  height: 165px;
  white-space: nowrap;
}

/*thumbnail bar's handle*/
div.view-thumbnailsbar-handle{
  margin: 0;
  font-size: 30px;
  color: #F9F9F9;
  display: inline-block;
  cursor: move;
}

/*thumbnail bar's sortable div*/
div.view-thumbnailsbar-sortable{
  margin: 0;
  height: calc(100% - 40px);
  overflow: auto;
}

/*thumbnail image frames (divs) within the thumbnail bar*/
.view-thumbnail{
  border:1px solid #607D8B;
  width: 100%;
  margin-bottom: 2px;
  display: inline-block;
  background-color: #212121;
}
/*vertical thumbnail*/
.view-thumbnail-y{
  margin: 0 0 2px 0;
}
/*horizontal thumbnail*/
.view-thumbnail-x{
  margin: 0 2px 0 0;
}
.view-thumbnail:hover{
  border: 1px solid #F9F9F9;
}

/*image within a thumbnail frame*/
.view-thumbnail-img{
  display: block;
  height: 96px;
  width: 96px;
  margin: auto;
}

/*text info within a thumbnail frame*/
.view-thumbnail-info{
  font-size: 11px;
  text-align:center;
  background-color: #1DE9B6;
  color: #212121;
  font-family: 'Droid Sans', sans-serif;
}
